body { 
  font-family: Arial, Verdana, sans-serif;
  background-color: transparent;
  text-rendering: optimize-speed;
  -webkit-font-smoothing: antialiased;
  text-align: justify;
}

p {
  font-family: "Georgia";
  font-size: 12px;
}